#game {
    position: relative;
    height: 600px;
    width: 800px;
    border: 1px solid black;
    background-image: url(background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.ship1 {
    position: absolute;
    top: 50%;
    left: 55%;
    width: 75px;
    height: 75px;
    background: url('pngegg\ \(7\).png') no-repeat;
    background-size: cover;
}
.ship2 {
    position: absolute;
    top: 50%;
    left: 45%;
    width: 75px;
    height: 75px;
    background: url('pngegg\ \(11\).png') no-repeat;
    background-size: cover;
    transition: transform 0.5s;
}
.gameover{
    visibility: hidden;
}

.rotate {
    transition: transform 0.5s;
}